<%= stylesheet_link_tag "company-reg.css" %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<header>
    <%= render template: 'template/nav' %>
	<h1 class="title">会社関連画面</h1>
</header>

<div class="container">
	<form action="" method="post">
		<div class="head-kensaku-box cf">
			<ul class="cf">
				<li><a class="modal-open kensaku-btn" data-target="con00"><span class="btn-sum-text">登録済み情報を</span><br>検索</a></li>
			</ul>
		</div>

		<!-- 会社情報 -->
		<table class="reg-table">
			<tr>
				<th colspan="8" class="table-title">会社情報</th>
			</tr>
			<tr>
				<th rowspan="2">会社名<br><span class="required-text">必須</span></th>
				<th colspan="3">漢字</th>
				<td colspan="4"><input type="text" name="" id="name_kanji" class="inp-text"></td>
			</tr>
			<tr>
				<th colspan="3">カナ</th>
				<td colspan="4"><input type="text" name="" id="name_kana" class="inp-text"></td>
			</tr>
			<tr>
				<th rowspan="4">住所<br><span class="required-text">必須</span></th>
				<th colspan="3">住所名称</th>
				<td colspan="3"><input type="text" name="" class="inp-text"></td>
				<td rowspan="4"><a class="modal-open choicebtn" data-target="con01">検索</a></td>
			</tr>
			<tr>
				<th colspan="3">郵便番号</th>
				<td colspan="3"><input type="text" name="" class="inp-text sum-text"></td>
			</tr>
			<tr>
				<th>都道府県</th>
				<td><input type="text" name="" class="inp-text sum-text"></td>
				<th>市区町村</th>
				<td><input type="text" name="" class="inp-text sum-text"></td>
				<th>番地</th>
				<td><input type="text" name="" class="inp-text sum-text"></td>
			</tr>
			<tr>
				<th colspan="3">ビル名</th>
				<td colspan="3"><input type="text" name="" class="inp-text"></td>
			</tr>
			<tr>
				<th rowspan="2">電話<br><span class="required-text">必須</span></th>
				<th colspan="3">電話名称</th>
				<td colspan="3"><input type="text" name="" class="inp-text"></td>
				<td rowspan="5"><a class="modal-open choicebtn" data-target="con02">検索</a></td>
			</tr>
			<tr>
				<th colspan="3">電話番号</th>
				<td colspan="3"><input type="text" name="" class="inp-text"></td>
			</tr>
			<tr>
				<th rowspan="2">FAX</th>
				<th colspan="3">FAX名称</th>
				<td colspan="3"><input type="text" name="" class="inp-text"></td>
			</tr>
			<tr>
				<th colspan="3">FAX番号</th>
				<td colspan="3"><input type="text" name="" class="inp-text"></td>
			</tr>
			<tr>
				<th colspan="4">メールアドレス</th>
				<td colspan="3"><input type="text" name="" class="inp-text"></td>
			</tr>
			<tr>
				<th colspan="4">メモ</th>
				<td colspan="3">
					<textarea class="textarea-style"></textarea>
				</td>
				<td><a class="modal-open choicebtn" data-target="con03">検索</a></td>
			</tr>
			<tr>
				<th rowspan="2">EDI<br><span class="required-text">必須</span></th>
				<th colspan="3">接続登録番号</th>
				<td colspan="4"><input type="text" name="" class="inp-text"></td>
			</tr>
			<tr>
				<th colspan="3">接続パスワード</th>
				<td colspan="4"><input type="text" name="" class="inp-text"></td>
			</tr>
			<tr>
				<th colspan="4">役割</th>
				<td colspan="3"><input type="text" name="" class="inp-text"></td>
				<td><a class="modal-open choicebtn" data-target="con04">検索</a></td>
			</tr>
		</table>

		<div class="con-btn-box cf">
			<ul class="cf">
				<li><a href="" class="sakuzyo-btn">削除</a></li>
				<li><input type="submit" class="con-btn" value="登録修正"></li>
			</ul>
		</div>
	</form>
</div>


<%= render template: 'template/footer' %>
<%= render 'search_traders' %>
<%= render 'search_places' %>
<%= render 'search_tels' %>
<%= render 'search_memos' %>
<%= render 'search_roles' %>


