<%= stylesheet_link_tag "permit-master.css" %>
<header>
	<%= render template: 'template/nav' %>
	<h1 class="title">EDIユーザーマスタ画面</h1>
</header>
<div class="container">
	<%= form_for EdiUser.new do |f| %>

		<table class="place-table master-table">
			<thead>
				<tr>
					<th colspan="10" class="table-title">EDIユーザーマスタ</th>
				</tr>
			</thead>
			<tbody>
			
				<% if @edi_users.blank? %>
						<tr><td colspan="9"><center>NO DATA INPUT</center></td></tr>
				<% else 
					@edi_users.each do |row| %>
						<tr>
							<th>名前1</th>
							<th>メール1</th>
							<th>名前2</th>
							<th>メール2</th>
							<th>名前3</th>
							<th>メール3</th>
							<td class="btn-box-td" rowspan="4">
								<div class="btn-box cf">
									<ul class="cf">
										<li>
											<%# link_to '編集', 'javascript:void(0)', :class => 'modal-open choicebtn', data: {toggle: "modal", target: "con1", id: row.id, code: row.code, name: row.name} %>
											<a href="javascript:void(0)" onclick="window.open('<%= row.id %>/edit', 'height=10', 'top=auto', 'left=auto');" class="choicebtn">編集</a>
										</li>
										<li><%= link_to '削除', row, method: :delete, :class => 'sakuzyobtn', data: { confirm: 'Are you sure?' } %></li>
									</ul>
								</div>
							</td>
						</tr>
						<tr>
							<td><%= row.registration_user1_name %></td>
							<td><%= row.registration_user1_email %></td>
							<td><%= row.registration_user2_name %></td>
							<td><%= row.registration_user2_email %></td>
							<td><%= row.registration_user3_name %></td>
							<td><%= row.registration_user3_email %></td>
						</tr>
					
						<tr>
							<th>EDI加入者番号</th>
							<th>EDI接続登録番号</th>
							<th colspan="2">EDI公開確認番号</th>
							<th colspan="2">EDI接続パスワード</th>
						</tr>
					
						<tr>
							<td><%= row.subscriber_number %></td>
							<td><%= row.connection_registration_number %></td>
							<td colspan="2"><%= row.published_confirmation_number %></td>
							<td colspan="2"><%= row.password %></td>
						</tr>
					<% end
				end %>
			</tbody>
		</table>

		<table class="place-table disposal-table">
			<thead>
				<tr>
					<th class="table-title" colspan="9">新規追加</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>名前1</th>
					<td><%= f.text_field :registration_user1_name, :required => 'required', class: 'sum-text'%></td>
				</tr>
				<tr>
					<th>メール1</th>
					<td><%= f.text_field :registration_user1_email, :required => 'required', class: 'sum-text'%></td>
				</tr>
				<tr>
					<th>名前2</th>
					<td><%= f.text_field :registration_user2_name, :required => 'required', class: 'sum-text'%></td>
				</tr>
				<tr>
					<th>メール2</th>
					<td><%= f.text_field :registration_user2_email, :required => 'required', class: 'sum-text'%></td>
				</tr>
				<tr>
					<th>名前3</th>
					<td><%= f.text_field :registration_user3_name, :required => 'required', class: 'sum-text'%></td>
				</tr>
				<tr>
					<th>メール3</th>
					<td><%= f.text_field :registration_user3_email, :required => 'required', class: 'sum-text'%></td>
				</tr>
				<tr>
					<th>EDI加入者番号</th>
					<td><%= f.text_field :subscriber_number, :required => 'required', class: 'sum-text'%></td>
				</tr>
				<tr>
					<th>EDI接続登録番号</th>
					<td><%= f.text_field :connection_registration_number, :required => 'required', class: 'sum-text'%></td>
				</tr>
				<tr>
					<th>EDI公開確認番号</th>
					<td><%= f.text_field :published_confirmation_number, :required => 'required', class: 'sum-text'%></td>
				</tr>
				<tr>
					<th>EDI接続パスワード</th>
					<td><%= f.text_field :password, :required => 'required', class: 'sum-text'%></td>
				</tr>
				<tr>
					<td colspan="2" class="reg-btn-box"><%= f.submit "登録", class: 'choicebtn' %></td>
				</tr>
			</tbody>
		</table>
		<div class="con-btn-box">
			<input type="submit" class="con-btn" value="修正登録">
		</div>
	<% end %>
</div>

<%= render template: 'template/footer' %>

<!-- ポップアップ -->
<div class="modal-content con1">
	<div class="batu-btn-box">
		<a class="modal-close"><%= image_tag('batu.png', :alt => 'ボタン', :class => 'batu-btn') %></a>

	</div>
	<form action="" method="post">
		<table class="place-table disposal-table">
			<thead>
				<tr>
					<th class="table-title" colspan="9">編集</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>名前1</th>
					<td><input type="text" name="" class="sum-text"></td>
				</tr>
				<tr>
					<th>メール1</th>
					<td><input type="text" name="" class="inp-text"></td>
				</tr>
				<tr>
					<th>名前2</th>
					<td><input type="text" name="" class="sum-text"></td>
				</tr>
				<tr>
					<th>メール2</th>
					<td><input type="text" name="" class="inp-text"></td>
				</tr>
				<tr>
					<th>名前3</th>
					<td><input type="text" name="" class="sum-text"></td>
				</tr>
				<tr>
					<th>メール3</th>
					<td><input type="text" name="" class="inp-text"></td>
				</tr>
				<tr>
					<th>EDI加入者番号</th>
					<td><input type="text" name="" class="sum-text"></td>
				</tr>
				<tr>
					<th>EDI接続登録番号</th>
					<td><input type="text" name="" class="sum-text"></td>
				</tr>
				<tr>
					<th>EDI公開確認番号</th>
					<td><input type="text" name="" class="sum-text"></td>
				</tr>
				<tr>
					<th>EDI接続パスワード</th>
					<td><input type="text" name="" class="sum-text"></td>
				</tr>
			</tbody>
		</table>
		<input type="submit" value="登録する">
	</form>
</div>
