<script>
	$(function() {
	 $("input[name=hazardous_substance_id]").on("change", function() {
	    $("#hazardous_substance_id").html($(this).val());
	    data = $(this).data('id');
    	$('#hazardous_substance_val').val(data);
	 });
	});
</script>
<div class="modal-content con05">
	<div class="batu-btn-box">
		<a class="modal-close"><%= image_tag('batu.png', :alt => 'ボタン', :class => 'batu-btn') %></a>
	</div>
	<table class="place-table disposal-table mo-table">
		<thead>
			<tr>
				<th colspan="2" class="table-title">有害物質一覧</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th></th>
				<th>コード/有害物質</th>
			</tr>
			<% @hazardous_substances.each do |hs| %>
			<tr>
				<td><input type="radio" name="hazardous_substance_id" data-id="<%= hs.id %>" value="<%= hs.code %> / <%= hs.name %>"></td>
				<td><%= hs.code %>&nbsp;/&nbsp;<%= hs.name %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<input type="button" value="登録する" class="modal-close con-btn"  style="text-decoration:none; color:white;">
</div>