
<div class="modal-content con01" id="search_category">
	<div class="batu-btn-box">
		<a class="modal-close"><%= image_tag('batu.png', :alt => 'ボタン', :class => 'batu-btn') %></a>

	</div>
	<%= search_form_for @search, url: {controller: "manifests/categories", action: "index"}, :remote => "true" do |f| %>
    	<table>
    		<thead>
    			<tr>
    				<th colspan="4" class="table-title">検索キーワード</th>
    			</tr>
    		</thead>
    		<tbody>
    			<tr>
    				<th>
    					コード
    				</th>
    				<td class="filter">
    					<div><%= f.text_field :code_cont, :class => "sum-text", :autocomplete => "off", :placeholder => "コード" %></div>
    				</td>
    				<th>
    					名
    				</th>
    				<td class="filter">
    				    <div><%= f.text_field :name_cont, :class => "sum-text", :autocomplete => "off", :placeholder => "種別名" %></div>
    				</td>
    			</tr>
    		</tbody>
    	</table>
    	<%= f.submit "検索する", :class => "con-btn" %>
	<% end %>
	<div id="list_categories">
          <table>
			<thead>
				<tr>
					<th colspan="2" class="table-title">契約期間 産業廃棄物の種類一覧</th>
				</tr>
			</thead>
			<tbody>
			    <% if @categories.blank? %>
			        <tr>
		    			<td colspan="2" align="center">
		    				<p><strong>NO RESULTS</strong><br>
		    					Try different keywords
		    				</p>
		    			</td>
		    		</tr>
		    	<% end %>
			</tbody>
		</table>
    </div>
	<input type="button" value="登録する" class="modal-close con-btn"  style="text-decoration:none; color:white;">
</div>
