<%= form_for @waste_registration do |f| %>
    <table class="reg-table">
		<tr>
			<th colspan="7" class="table-title">廃棄物の登録</th>
		</tr>
		<tr>
			<th colspan="3">Waste code</th>
			<td colspan="4"><%= f.text_field :code, :required => 'required', class: 'inp-text sum-text'%></td>
		</tr>
			<th colspan="3">Waste name</th>
			<td colspan="4"><%= f.text_field :name, :required => 'required', class: 'inp-text sum-text'%></td>
		</tr>
		<tr>
			<th colspan="3">Waste type</th>
			<td>
				<div class="kensaku01 cf">
					<%= f.collection_select(:waste_type_id,WasteType.all,:id,:name) %>
				</diV>
			</td>
			<%#td colspan="1" align="center"><a class="modal-open choicebtn" data-target="con02">検索</a></td>
			<%# link_to 'select',wastes_select_path, :class => 'modal-open choicebtn', date: {target: 'con2', remote: 'true' } %>
		</tr>
		
		<tr>
			<th colspan="3">Quantity</th>
			<td colspan="4"><%= f.text_field :quantity, :required => 'required', class: 'inp-text sum-text'%></td>
		</tr>
		<tr>
			<th colspan="3">Unit</th>
			<td colspan="4">
				<div class="kensaku01 cf">
					<%= f.collection_select(:unit_id,Unit.all,:id,:name) %>
				</td>
			</diV
			<%#td colspan="1" align="center"><a class="modal-open choicebtn" data-target="con03">検索</a></td #%>
		</tr>
		<tr>
			<th colspan="3">Form</th>
			<td colspan="4">
				<div class="kensaku01 cf">
					<%= f.collection_select(:shape_id,Shape.all,:id,:name) %>
				</div>
			</td>
			<%#td colspan="1" align="center"><a class="modal-open choicebtn" data-target="con04">検索</a></td #%>
		</tr>
		<tr>
			<th colspan="3">Packing style</th>
			<td colspan="4">
				<div class="kensaku01 cf">
					<%= f.collection_select(:package_id,Package.all,:id,:name) %>
				</div>
			</td>
			<%# td colspan="1" align="center"><a class="modal-open choicebtn" data-target="con05">検索</a></td #%>
		</tr>
	</table>

	<div class="con-btn-box cf">
		<%= f.submit "submit", :class => "con-btn" %>
	</div>
<% end %>

<%= render template: 'template/footer' %>