<%= stylesheet_link_tag "new-discharge-business-reg.css" %>
<script type="text/javascript">
$(window).load(function(){
  var menu = $("div.js-menu");
  menu.hide();
  $("div.menu").on("click", {a: menu}, slide);
  function slide(event) {
	if (event.data.a.css("display") === "none") {
	  event.data.a.slideDown(350);
	} else {
	  event.data.a.slideUp(350);
	}W
  }
}); 
</script>
<header>    
    <%= render template: 'template/nav' %>
	<h1 class="title">新規排出事業者登録画面</h1>
</header>

<div class="container">
    <form action="" method="post">
    	<!-- ①上部情報 -->
    	<table class="reg-table">
    		<tr>
    			<th colspan="2" class="table-title">排出事業者情報</th>
    		</tr>
    		<tr>
    			<th>排出事業者<span class="required-text">必須</span></th>
    			<td>
    				<div class="kensaku01 cf">
    					<div>
    						<p id="trader_kanji"></p>
    						<p id="trader_kana"></p>
    					</div>
    					 <a class="modal-open h-btn02 combtn" data-target="con02">会社</a> 
    				</div>
    			</td>
    		</tr>
    		<tr>
    			<th>排出事業者名郵便番号<span class="required-text">必須</span></th>
    			<td><input type="text" id="zipcode" class="inp-text sum-text"></td>
    		</tr>
    		<tr>
    			<th>都道府県市区町村<span class="required-text">必須</span></th>
    			<td><input type="text" id="prefecture_city" class="inp-text"></td>
    		</tr>
    		<tr>
    			<th>町名 番地以下<span class="required-text">必須</span></th>
    			<td><input type="text" id="address" class="inp-text"></td>
    		</tr>
    		<tr>
    			<th>連絡先電話番号1<span class="required-text">必須</span></th>
    			<td><input type="text" id="tel1" class="inp-text sum-text"></td>
    		</tr>
    		<tr>
    			<th>連絡先電話番号2</th>
    			<td><input type="text" id="tel2" class="inp-text sum-text"></td>
    		</tr>
    	</table>
    
    
    
    	<div class="edi-box">
    		<div class="menu">JWNET情報表示する</div>
    		<div class="js-menu">
    			<table class="reg-table edi-table">
    				<tr>
    					<th colspan="4" class="table-title">JWNET情報</th>
    				</tr>
    				<tr>
    					<th colspan="2">EDI接続登録番号</th>
    					<td colspan="2"><input type="text" id="connection_registration_number" class="inp-text"></td>
    				</tr>
    				<tr>
    					<th colspan="2">EDI接続パスワード</th>
    					<td colspan="2"><input type="password" id="password" class="inp-text"></td>
    				</tr>
    				<tr>
    					<th>JWNET<br>登録担当者1</th>
    					<td><input type="text" id="registration_user1_name" class="inp-text"></td>
    					<th>JWNET<br>登録担当者1<br>メールアドレス</th>
    					<td><input type="text" id="registration_user1_email" class="inp-text"></td>
    				</tr>
    				<tr>
    					<th>JWNET<br>登録担当者2</th>
    					<td><input type="text" id="registration_user2_name" class="inp-text"></td>
    					<th>JWNET<br>登録担当者2<br>メールアドレス</th>
    					<td><input type="text" id="registration_user2_email" class="inp-text"></td>
    				</tr>
    				<tr>
    					<th>JWNET<br>登録担当者3</th>
    					<td><input type="text" id="registration_user3_name" class="inp-text"></td>
    					<th>JWNET<br>登録担当者3<br>メールアドレス</th>
    					<td><input type="text" id="registration_user3_email" class="inp-text"></td>
    				</tr>
    			</table>
    		</div>
    	</div>
        <div id="list_places">
            <%= render 'selected_list_places' %>
        </div>
    	<div class="con-btn-box">
    		<input type="button" class="con-btn" value="修正登録">
    	</div>
    </form>
</div>

<%= render template: 'template/footer' %>
<%= render 'search_traders' %>