<%= stylesheet_link_tag "select2.css" %>
<%= javascript_include_tag "select2.js" %>
<script>
	  $(function(){
         $('select').select2();
      });
</script>
<%= form_for @permission do |f| %>
    <table class="place-table disposal-table">
    	<thead>
    		<tr>
    			<th class="table-title" colspan="5">編集</th>
    		</tr>
    	</thead>
    	<tbody>
    		<tr>
    			<th colspan="2" style="text-align:left;">許可証種別</th>
    			<td colspan="3" style="width:100%;">
    				<div class="kensaku01 cf">
    					<%= f.collection_select(:permit_type, WasteType.all, :name, :name, :required => 'required') %>
    				</div>
    			</td>
    		</tr>
    		<tr>
    			<th colspan="2" style="text-align:left;">許可区分</th>
    			<td colspan="3" style="width:100%;">
    				<div class="kensaku01 cf">
    					<%= f.collection_select(:permission_type, Role.all, :name, :name, :required => 'required') %>
    				</div>
    			</td>
    		</tr>
    		<tr>
    			<th colspan="2" style="text-align:left;">許可番号</th>
    			<td colspan="3" style="width:100%;"><%= f.text_field :permit_number, :required => 'required', :class => 'inp-text sum-text'%></td>
    		</tr>
    		<tr>
    			<th colspan="2" style="text-align:left;">許可廃棄物分類</th>
    			<td colspan="3" style="width:100%;">
    				<div class="kensaku01 cf">
    					<%= f.collection_select(:permitted_waste_classification, Category.all, :name, :name, :required => 'required') %>
    				</div>
    			</td>
    		</tr>
    		<tr>
    			<th colspan="2" style="text-align:left;">許可名称</th>
    			<td colspan="3" style="width:100%;"><%= f.text_field :permit_name, :required => 'required', :class => 'inp-text sum-text'%></td>
    		</tr>
    		<tr>
    			<th colspan="2" style="text-align:left;">許可地域</th>
    			<td colspan="3" style="width:100%;">
    				<div class="kensaku01 cf">
    					<%= f.collection_select(:allowed_area, Place.all, :prefecture, :prefecture, :required => 'required') %>
    				</div>
    			</td>
    		</tr>
    		<tr>
    			<th colspan="2" style="text-align:left;">許可市区町村</th>
    			<td colspan="3" style="width:100%;">
    				<div class="kensaku01 cf">
    					<%= f.collection_select(:permitted_municipality, Place.all, :city, :city, :required => 'required') %>
    				</div>
    			</td>
    		</tr>
    		<tr>
    			<th colspan="2" style="text-align:left;">許可期間</th>
    			<td colspan="3" style="width:100%;">
    				<div class="kensaku01 cf">
    					<%= f.date_field :started_at, :required => 'required', :class => 'inp-text sum-text unstyled'%>
    				</div>
    				<div class="kensaku01 cf">
    					<%= f.date_field :limited_at, :required => 'required', :class => 'inp-text sum-text unstyled'%>
    				</div>
    			</td>
    		</tr>
    		<tr>
    			<th colspan="2" style="text-align:left;">産廃有料認定区分</th>
    			<td colspan="3" style="width:100%;">
    				<div class="kensaku01 cf">
    					<%= f.text_field :industrial_waste_paid_certification_category, :required => 'required', :class => 'inp-text sum-text'%>
    				</div>
    			</td>
    		</tr>
    		<tr>
    			<th colspan="2" style="text-align:left;">許可証PDF</th>
    			<td colspan="3" style="width:100%;">
    				<div class="kensaku01 cf">
    					<%= f.file_field :permit_pdf %>
    				</div>
    			</td>
    		</tr>
    
    		<tr>
    			<th colspan="5" style="width:100%;" class="reg-btn-box"><center><%= f.submit "登録", :class => 'choicebtn' %></center></th>
    		</tr>
    	</tbody>
    </table>
<% end %>
