<%= stylesheet_link_tag "permit-master.css" %>
<header>
	<%= render template: 'template/nav' %>
	<h1 class="title">許可証マスタ画面</h1>
</header>

<div class="container">
	<form action="" method="post">

		<table class="place-table master-table">
			<thead>
				<tr>
					<th colspan="6" class="table-title">許可証マスタ</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>許可証種別</th>
					<th>許可区分</th>
					<th>許可番号</th>
					<th>許可廃棄物分類</th>
					<th>許可名称</th>
					<th>許可地域</th>
					<td rowspan="4">
						<div class="btn-box cf">
							<ul class="cf">
								<li><a class="modal-open choicebtn" data-target="con1">編集</a></li>
								<li><a href="#" class="sakuzyobtn">削除</a></li>
							</ul>
						</div>
					</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					
					<th>許可市区町村</th>
					<th colspan="2">許可期間</th>
					<th>許可廃棄物分類</th>
					<th>産廃有料認定区分</th>
					<th>許可証PDF</th>
				</tr>
				<tr>
					
					<td></td>
					<td colspan="2"></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>




			</tbody>
		</table>

		<table class="place-table disposal-table">
			<thead>
				<tr>
					<th class="table-title" colspan="5">新規追加</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>許可証種別</th>
					<td>
						<div class="kensaku01 cf">
							<input type="text" name="" class="inp-text sum-text">
							<a class="modal-open choicebtn" data-target="con2">編集</a>
						</div>
					</td>
				</tr>
				<tr>
					<th>許可区分</th>
					<td>
						<div class="kensaku01 cf">
							<input type="text" name="" class="inp-text sum-text">
							<a class="modal-open choicebtn" data-target="con3">編集</a>
						</div>
					</td>
				</tr>
				<tr>
					<th>許可番号</th>
					<td><input type="text" name="" class="inp-text sum-text"></td>
				</tr>
				<tr>
					<th>許可廃棄物分類</th>
					<td>
						<div class="kensaku01 cf">
							<input type="text" name="" class="inp-text sum-text">
							<a class="modal-open choicebtn" data-target="con4">編集</a>
						</div>
					</td>
				</tr>
				<tr>
					<th>許可名称</th>
					<td><input type="text" name="" class="inp-text sum-text"></td>
				</tr>
				<tr>
					<th>許可地域</th>
					<td>
						<div class="kensaku01 cf">
							<input type="text" name="" class="inp-text sum-text">
							<a class="modal-open choicebtn" data-target="con5">編集</a>
						</div>
					</td>
				</tr>
				<tr>
					<th>許可市区町村</th>
					<td>
						<div class="kensaku01 cf">
							<input type="text" name="" class="inp-text sum-text">
							<a class="modal-open choicebtn" data-target="con6">編集</a>
						</div>
					</td>
				</tr>
				<tr>
					<th>許可期間</th>
					<td>
						<div class="kensaku01 cf">
							<input type="text" name="" class="inp-text sum-text">
							<a class="modal-open choicebtn" data-target="con7">編集</a>
						</div>
					</td>
				</tr>
				<tr>
					<th>産廃有料認定区分</th>
					<td>
						<div class="kensaku01 cf">
							<input type="text" name="" class="inp-text sum-text">
							<a class="modal-open choicebtn" data-target="con8">編集</a>
						</div>
					</td>
				</tr>
				<tr>
					<th>許可証PDF</th>
					<td>
						<div class="kensaku01 cf">
							<input type="file" name="">
						</div>
					</td>
				</tr>

				<tr>
					<td colspan="2" class="reg-btn-box"><input type="button" name="" value="登録" class="choicebtn"></td>
				</tr>

			</tbody>
		</table>
		<div class="con-btn-box">
			<input type="submit" class="con-btn" value="修正登録">
		</div>
	</form>
</div>

<%= render template: 'template/footer' %>


<!-- ポップアップ -->
<div class="modal-content con1">
	<div class="batu-btn-box">
		<a class="modal-close"><%= image_tag('batu.png', :alt => 'ボタン', :class => 'batu-btn') %></a>

	</div>
	<form action="" method="post">
		<table class="place-table disposal-table industrial-waste-table">
			<thead>
				<tr>
					<th class="table-title" colspan="5">編集</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>許可証種別</th>
					<td>
						<div class="kensaku01 cf">
							<input type="text" name="" class="inp-text sum-text">
							<a class="modal-open2 choicebtn" data-target="con9">選択</a>
						</div>
					</td>
				</tr>
				<tr>
					<th>許可区分</th>
					<td>
						<div class="kensaku01 cf">
							<input type="text" name="" class="inp-text sum-text">
							<a class="modal-open2 choicebtn" data-target="con10">選択</a>
						</div>
					</td>
				</tr>
				<tr>
					<th>許可番号</th>
					<td><input type="text" name="" class="inp-text sum-text"></td>
				</tr>
				<tr>
					<th>許可廃棄物分類</th>
					<td>
						<div class="kensaku01 cf">
							<input type="text" name="" class="inp-text sum-text">
							<a class="modal-open2 choicebtn" data-target="con11">選択</a>
						</div>
					</td>
				</tr>
				<tr>
					<th>許可名称</th>
					<td><input type="text" name="" class="inp-text sum-text"></td>
				</tr>
				<tr>
					<th>許可地域</th>
					<td>
						<div class="kensaku01 cf">
							<input type="text" name="" class="inp-text sum-text">
							<a class="modal-open2 choicebtn" data-target="con12">選択</a>
						</div>
					</td>
				</tr>
				<tr>
					<th>許可市区町村</th>
					<td>
						<div class="kensaku01 cf">
							<input type="text" name="" class="inp-text sum-text">
							<a class="modal-open2 choicebtn" data-target="con13">選択</a>
						</div>
					</td>
				</tr>
				<tr>
					<th>許可期間</th>
					<td>
						<div class="kensaku01 cf">
							<input type="text" name="" class="inp-text sum-text">
							<a class="modal-open2 choicebtn" data-target="con14">選択</a>
						</div>
					</td>
				</tr>
				<tr>
					<th>産廃有料認定区分</th>
					<td>
						<div class="kensaku01 cf">
							<input type="text" name="" class="inp-text sum-text">
							<a class="modal-open2 choicebtn" data-target="con15">選択</a>
						</div>
					</td>
				</tr>
				<tr>
					<th>許可証PDF</th>
					<td>
						<div class="kensaku01 cf">
							<input type="file" name="">
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<input type="submit" value="登録する">
	</form>
</div>


<div class="modal-content con2">
	<div class="batu-btn-box">
		<a class="modal-close"><%= image_tag('batu.png', :alt => 'ボタン', :class => 'batu-btn') %></a>

	</div>
	<form action="" method="post">
		<table class="place-table disposal-table">
			<thead>
				<tr>
					<th colspan="2" class="table-title">許可証種別一覧</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th></th>
					<th>許可証種別</th>
				</tr>
				<tr>
					<td><input type="radio" name="003"></td>
					<td></td>
				</tr>
				<tr>
					<td><input type="radio" name="003"></td>
					<td></td>
				</tr>
				<tr>
					<td><input type="radio" name="003"></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<input type="submit" value="登録する">
	</form>
</div>


<div class="modal-content con3">
	<div class="batu-btn-box">
		<a class="modal-close"><%= image_tag('batu.png', :alt => 'ボタン', :class => 'batu-btn') %></a>

	</div>
	<form action="" method="post">
		<table class="place-table disposal-table">
			<thead>
				<tr>
					<th colspan="2" class="table-title">許可区分一覧</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th></th>
					<th>許可区分</th>
				</tr>
				<tr>
					<td><input type="radio" name="003"></td>
					<td></td>
				</tr>
				<tr>
					<td><input type="radio" name="003"></td>
					<td></td>
				</tr>
				<tr>
					<td><input type="radio" name="003"></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<input type="submit" value="登録する">
	</form>
</div>


<div class="modal-content con4">
	<div class="batu-btn-box">
		<a class="modal-close"><%= image_tag('batu.png', :alt => 'ボタン', :class => 'batu-btn') %></a>

	</div>
	<form action="" method="post">
		<table class="place-table disposal-table">
			<thead>
				<tr>
					<th colspan="2" class="table-title">許可廃棄物分類一覧</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th></th>
					<th>許可廃棄物分類</th>
				</tr>
				<tr>
					<td><input type="radio" name="003"></td>
					<td></td>
				</tr>
				<tr>
					<td><input type="radio" name="003"></td>
					<td></td>
				</tr>
				<tr>
					<td><input type="radio" name="003"></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<input type="submit" value="登録する">
	</form>
</div>


<div class="modal-content con5">
	<div class="batu-btn-box">
		<a class="modal-close"><%= image_tag('batu.png', :alt => 'ボタン', :class => 'batu-btn') %></a>

	</div>
	<form action="" method="post">
		<table class="place-table disposal-table">
			<thead>
				<tr>
					<th colspan="2" class="table-title">許可地域一覧</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th></th>
					<th>許可地域</th>
				</tr>
				<tr>
					<td><input type="radio" name="003"></td>
					<td></td>
				</tr>
				<tr>
					<td><input type="radio" name="003"></td>
					<td></td>
				</tr>
				<tr>
					<td><input type="radio" name="003"></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<input type="submit" value="登録する">
	</form>
</div>


<div class="modal-content con6">
	<div class="batu-btn-box">
		<a class="modal-close"><%= image_tag('batu.png', :alt => 'ボタン', :class => 'batu-btn') %></a>

	</div>
	<form action="" method="post">
		<table class="place-table disposal-table">
			<thead>
				<tr>
					<th colspan="2" class="table-title">許可市区町村一覧</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th></th>
					<th>許可市区町村</th>
				</tr>
				<tr>
					<td><input type="radio" name="003"></td>
					<td></td>
				</tr>
				<tr>
					<td><input type="radio" name="003"></td>
					<td></td>
				</tr>
				<tr>
					<td><input type="radio" name="003"></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<input type="submit" value="登録する">
	</form>
</div>


<div class="modal-content con7">
	<div class="batu-btn-box">
		<a class="modal-close"><%= image_tag('batu.png', :alt => 'ボタン', :class => 'batu-btn') %></a>

	</div>
	<form action="" method="post">
		<table class="place-table disposal-table">
			<thead>
				<tr>
					<th colspan="2" class="table-title">許可期間一覧</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th></th>
					<th>許可期間</th>
				</tr>
				<tr>
					<td><input type="radio" name="003"></td>
					<td></td>
				</tr>
				<tr>
					<td><input type="radio" name="003"></td>
					<td></td>
				</tr>
				<tr>
					<td><input type="radio" name="003"></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<input type="submit" value="登録する">
	</form>
</div>


<div class="modal-content con8">
	<div class="batu-btn-box">
		<a class="modal-close"><%= image_tag('batu.png', :alt => 'ボタン', :class => 'batu-btn') %></a>

	</div>
	<form action="" method="post">
		<table class="place-table disposal-table">
			<thead>
				<tr>
					<th colspan="2" class="table-title">産廃有料認定区分一覧</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th></th>
					<th>産廃有料認定区分</th>
				</tr>
				<tr>
					<td><input type="radio" name="003"></td>
					<td></td>
				</tr>
				<tr>
					<td><input type="radio" name="003"></td>
					<td></td>
				</tr>
				<tr>
					<td><input type="radio" name="003"></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<input type="submit" value="登録する">
	</form>
</div>


<!--  -->

<div class="modal-content con9">
	<div class="batu-btn-box">
		<a class="modal-close2"><%= image_tag('batu.png', :alt => 'ボタン', :class => 'batu-btn') %></a>

	</div>
	<form action="" method="post">
		<table class="place-table disposal-table">
			<thead>
				<tr>
					<th colspan="2" class="table-title">許可証種別一覧</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th></th>
					<th>許可証種別</th>
				</tr>
				<tr>
					<td><input type="radio" name="003"></td>
					<td></td>
				</tr>
				<tr>
					<td><input type="radio" name="003"></td>
					<td></td>
				</tr>
				<tr>
					<td><input type="radio" name="003"></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<input type="submit" value="登録する">
	</form>
</div>


<div class="modal-content con10">
	<div class="batu-btn-box">
		<a class="modal-close2"><%= image_tag('batu.png', :alt => 'ボタン', :class => 'batu-btn') %></a>

	</div>
	<form action="" method="post">
		<table class="place-table disposal-table">
			<thead>
				<tr>
					<th colspan="2" class="table-title">許可区分一覧</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th></th>
					<th>許可区分</th>
				</tr>
				<tr>
					<td><input type="radio" name="003"></td>
					<td></td>
				</tr>
				<tr>
					<td><input type="radio" name="003"></td>
					<td></td>
				</tr>
				<tr>
					<td><input type="radio" name="003"></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<input type="submit" value="登録する">
	</form>
</div>


<div class="modal-content con11">
	<div class="batu-btn-box">
		<a class="modal-close2"><%= image_tag('batu.png', :alt => 'ボタン', :class => 'batu-btn') %></a>

	</div>
	<form action="" method="post">
		<table class="place-table disposal-table">
			<thead>
				<tr>
					<th colspan="2" class="table-title">許可廃棄物分類一覧</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th></th>
					<th>許可廃棄物分類</th>
				</tr>
				<tr>
					<td><input type="radio" name="003"></td>
					<td></td>
				</tr>
				<tr>
					<td><input type="radio" name="003"></td>
					<td></td>
				</tr>
				<tr>
					<td><input type="radio" name="003"></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<input type="submit" value="登録する">
	</form>
</div>


<div class="modal-content con12">
	<div class="batu-btn-box">
		<a class="modal-close2"><%= image_tag('batu.png', :alt => 'ボタン', :class => 'batu-btn') %></a>

	</div>
	<form action="" method="post">
		<table class="place-table disposal-table">
			<thead>
				<tr>
					<th colspan="2" class="table-title">許可地域一覧</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th></th>
					<th>許可地域</th>
				</tr>
				<tr>
					<td><input type="radio" name="003"></td>
					<td></td>
				</tr>
				<tr>
					<td><input type="radio" name="003"></td>
					<td></td>
				</tr>
				<tr>
					<td><input type="radio" name="003"></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<input type="submit" value="登録する">
	</form>
</div>


<div class="modal-content con13">
	<div class="batu-btn-box">
		<a class="modal-close2"><%= image_tag('batu.png', :alt => 'ボタン', :class => 'batu-btn') %></a>

	</div>
	<form action="" method="post">
		<table class="place-table disposal-table">
			<thead>
				<tr>
					<th colspan="2" class="table-title">許可市区町村一覧</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th></th>
					<th>許可市区町村</th>
				</tr>
				<tr>
					<td><input type="radio" name="003"></td>
					<td></td>
				</tr>
				<tr>
					<td><input type="radio" name="003"></td>
					<td></td>
				</tr>
				<tr>
					<td><input type="radio" name="003"></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<input type="submit" value="登録する">
	</form>
</div>


<div class="modal-content con14">
	<div class="batu-btn-box">
		<a class="modal-close2"><%= image_tag('batu.png', :alt => 'ボタン', :class => 'batu-btn') %></a>

	</div>
	<form action="" method="post">
		<table class="place-table disposal-table">
			<thead>
				<tr>
					<th colspan="2" class="table-title">許可期間一覧</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th></th>
					<th>許可期間</th>
				</tr>
				<tr>
					<td><input type="radio" name="003"></td>
					<td></td>
				</tr>
				<tr>
					<td><input type="radio" name="003"></td>
					<td></td>
				</tr>
				<tr>
					<td><input type="radio" name="003"></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<input type="submit" value="登録する">
	</form>
</div>


<div class="modal-content con15">
	<div class="batu-btn-box">
		<a class="modal-close2"><%= image_tag('batu.png', :alt => 'ボタン', :class => 'batu-btn') %></a>

	</div>
	<form action="" method="post">
		<table class="place-table disposal-table">
			<thead>
				<tr>
					<th colspan="2" class="table-title">産廃有料認定区分一覧</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th></th>
					<th>産廃有料認定区分</th>
				</tr>
				<tr>
					<td><input type="radio" name="003"></td>
					<td></td>
				</tr>
				<tr>
					<td><input type="radio" name="003"></td>
					<td></td>
				</tr>
				<tr>
					<td><input type="radio" name="003"></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<input type="submit" value="登録する">
	</form>
</div>
