<%= stylesheet_link_tag "company-reg.css" %>
<%= stylesheet_link_tag "select2.css" %>
<%= javascript_include_tag "select2.js" %>
<script>
	  $(function(){
         $('select').select2();
      });
</script>
<header>
	<%= render template: 'template/nav' %>
	<h1 class="title">許可証関連画面</h1>
</header>

<div class="head-kensaku-box cf">
	<ul class="cf">
		<li><a class="modal-open kensaku-btn" data-target="con01"><span class="btn-sum-text">登録済み情報を</span><br>検索</a></li>
	</ul>
</div>


<div class="container">
	<!-- 会社情報 -->
	<table class="reg-table">
		<tr>
			<th colspan="2" class="table-title">許可証情報</th>
		</tr>

		<tr>
			<th>許可証種別</th>
			<td>
				<div class="kensaku01 cf">
					<select>
						<% @waste_types.each do |row| %>
							<option value="<%= row.id %>"><%= row.name %></option>
						<% end %>
					</select>
				</div>
			</td>
		</tr>
		<tr>
			<th>許可区分</th>
			<td>
				<div class="kensaku01 cf">
					<select>
						<% @roles.each do |row| %>
							<option value="<%= row.id %>"><%= row.name %></option>
						<% end %>
					</select>
				</div>
			</td>
		</tr>
		<tr>
			<th>許可番号</th>
			<td><input type="text" id="permit_number" class="inp-text" disabled="disabled"></td>
		</tr>
		<tr>
			<th>許可廃棄物分類</th>
			<td>
				<div class="kensaku01 cf">
					<select>
						<% @categories.each do |row| %>
							<option value="<%= row.id %>"><%= row.name %></option>
						<% end %>
					</select>
				</div>
			</td>
		</tr> 
		<tr>
			<th>許可名称</th>
			<td><input type="text" id="permit_name" class="inp-text" disabled="disabled"></td>
		</tr>
		<tr>
			<th>許可地域</th>
			<td>
				<div class="kensaku01 cf">
					<select>
						<% @places.each do |row| %>
							<option value="<%= row.id %>"><%= row.prefecture %></option>
						<% end %>
					</select>
				</div>
			</td>
		</tr>
		<tr>
			<th>許可市町村</th>
			<td>
				<div class="kensaku01 cf">
					<select>
						<% @places.each do |row| %>
							<option value="<%= row.id %>"><%= row.city %></option>
						<% end %>
					</select>
				</div>
			</td>
		</tr>
		<tr>
			<th>許可期間</th>
			<td><input type="text" id="started_at" class="sum-text" disabled="disabled">&nbsp;〜&nbsp;<input type="text" id="limited_at" class="sum-text" disabled="disabled"></td>
		</tr>
		<tr>
			<th>産廃有料認定区分</th>
			<td><input type="text" id="industrial_waste_paid_certification_cetegory" class="inp-text" disabled="disabled"></td>
		</tr>
		<tr>
			<th>許可証PDF</th>
			<td><p></p></td>
		</tr>
	</table>


	<div class="con-btn-box cf">
		<ul class="cf">
			<li><a href="" class="sakuzyo-btn">削除</a></li>
			<li><input type="submit" class="con-btn" value="登録修正"></li>
		</ul>
	</div>

</div>



<%= render template: 'template/footer' %>
<%= render 'search_permissions' %>