<%= stylesheet_link_tag "manifest.css" %>
<%= stylesheet_link_tag "select2.css" %>
<%= javascript_include_tag "select2.js" %>
<%= javascript_include_tag "jquery-ui.min.js" %>
<script>
	  $(function(){
         $('select').select2();
      });
</script>


<header>
    <%= render template: 'template/nav' %>
	<h1 class="title">Waste Manifest</h1>
</header>
<center><h3><%= notice %></h3></center>
<div class="container">
	
		<%# form_for Manifest.new do |f| %>
		<table>
			<tr>
			<th>Select Date:</th> <td><input type="date"></td>
			<th>Enter Time:</th> <td><input type="time"></td>
			</tr>
		</table>
		<%# end %>
	<%= form_for Manifest.new do |f| %>
		<table class="issue-table">
			<tr>
				<th colspan="15" class="table-titlegreen">Transporter Information</th>
			</tr>
			<tr>
				<th rowspan="2">Transporter<br><span class="required-text">必須</span></th>
				<td>Kanji</td>
				<td>
					<div class="kensaku01 cf">
						<%= f.collection_select(:collection_commit_trader_id ,Trader.all,:id,:name_kanji, :include_blank => '---select name---') %>
					</div>
				</td>

				<th rowspan="2">First Person in Charge</th>
				<td>Kanji</td>
				<td>
					<div class="kensaku01 cf">
						<%= f.collection_select(:collection_commit_user_id ,Trader.all,:id,:name_kanji, :include_blank => '---select name---') %>
					</div>
				</td>
				<tr>
					<td>Kana</td>
				<td>
				<div class="kensaku01 cf">
						<%= f.collection_select(:disposal_commit_trader_id,Trader.all,:id,:name_kana, :include_blank => '---select name---') %>
					</div></td>
				<td>Kana</td>
				<td>
					<div class="kensaku01 cf">
						<%= f.collection_select(:disposal_commit_user_id,Trader.all,:id,:name_kana, :include_blank => '---select name---') %>
					</div>
				</td>
				</tr>
			</tr>
			
		</table>
	
		

		<table class="issue-table">
			<tr>
				<th colspan="15" class="table-titlered">Company Information</th>
			</tr>
			<tr>
				<th rowspan="2">Business<br>Information<br><span class="required-text">必須</span></th>
				<td>Kanji</td>
				<td>
					<div class="kensaku01 cf">
						<%= f.collection_select(:collection_commit_trader_id,Trader.all,:id,:name_kanji, :include_blank => '---select name---') %>
					</div>
				</td>
				<th rowspan="2">First Person in Charge</th>
				<td>Kanji</td>
				<td>
					<div class="kensaku01 cf">
						<%= f.collection_select(:collection_commit_user_id,Trader.all,:id,:name_kanji, :include_blank => '---select name---') %>
					</div>
				</td>
				<tr>
					<td>Kana</td>
				<td>
					<div class="kensaku01 cf">
						<%= f.collection_select(:disposal_commit_trader_id ,Trader.all,:id,:name_kana, :include_blank => '---select name---') %>
					</div>
				</td>
				<td>Kana</td>
				<td>
					<div class="kensaku01 cf">
						<%= f.collection_select(:disposal_commit_user_id,Trader.all,:id,:name_kana, :include_blank => '---select name---') %>
					</div>
				</td>
				</tr>
			</tr>
		</table>
	<%# end %>	
    
    <div class="row-eq-height">
        <div><center>
	<table style="float:left;table-layout:fixed;width:90%;font-size:14px; margin-left:9%">
		<thead>
			<tr>
				<th colspan="6" class="table-title"><center>Planned Quantity</center></th>
			</tr>
			<tr>
				<th>Code</th>
				<th>Waste Category</th>
				<%#th>Waste type</th #%>
				<th>Qty</th>
				<th>Unit</th>
				<th>Form</th>
				<th style="border-right-color:#cccccc;">Packing</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>Plastic</td>
				<%#td>Waste type</td#%>
				<td>12</td>
				<td>kg</td>
				<td>Solid State</td>
				<td style="border-right-color:#cccccc;">Container</td>
			</tr>
		</tbody>
	</table>
	</div>
	<div>
<%# form_for Manifest.new do |f| %>	    
	<table style="float:left; table-layout:fixed;width:90%;font-size:14px;">
		<thead>
			<tr>
				<th colspan="6" class="table-title" ><center>Actual</center></th>
			</tr>
			<tr>
				<th style="border-left-color:#cccccc;">Code</th>
				<th>Waste Category</th>
				<%#th>Hazardous Name</th #%>
				<th>Qty</th>
				<th style="max-width: 120px;">Unit</th>
				<th>Form</th>
				<th>Packing</th>
			</tr>
		</thead>
		<tbody>
			<% @manifests.each do |row| %>
				<tr>
					<td style="border-left-color:#cccccc;"><%= row.code %></td>
					<td><%= row.category_name %></td>
					<%#td><%= row.hazardous_name %><%#/td #%>
					<td><%= row.total_amount %></td>
					<td style="max-width: 120px;"><%= row.unit_name %></td>
					<td><%= row.shape_name %></td>
					<td><%= row.package_name %></td>
				</tr>
			<% end %>
			
			<tr>
				<td colspan="2">
				    <div class="kensaku01 cf">
				        <%= f.hidden_field :category_id, :id => "category_val" %>
				        <p id="category_id"></p>
				        <center><a class="modal-open custom-btn2" data-target="con01">選択</a></center>
				    </div>
				</td>
				<td><center><%= f.text_field :total_amount,:size=>"3" %></td>
				<td>
				     <div class="kensaku01 cf">
				         <%= f.hidden_field :unit_id, :id => "unit_val" %>
				         <p id="unit_id"></p>
				         <center><a class="modal-open custom-btn2" data-target="con02">選択</a></center>
				     </div>
				</td>
				<td>
				     <div class="kensaku01 cf">
				         <%= f.hidden_field :shape_id, :id => "shape_val" %>
				         <p id="shape_id"></p>
				         <center><a class="modal-open custom-btn2" data-target="con03">選択</a></center>
				     </div>
				</td>
				<td>
				     <div class="kensaku01 cf">
				         <%= f.hidden_field :package_id, :id => "package_val" %>
				         <p id="package_id"></p>
				         <center><a class="modal-open custom-btn2" data-target="con04">選択</a></center>
				     </div>
				</td>
			</tr>
		</tbody>
	</table>
	<br><br><br>
	
	</div>
	
	</div>
	<table class="issue-table">
		<tr>
			<th colspan="6" class="table-title" ><center>Temporary</center></th>
		</tr>
		<tr>
			<th>Code</th>
			<th>Waste Category</th>
			<th>Qty</th>
			<th>Unit</th>
			<th>Form</th>
			<th>Packing</th>
		</tr>
	</table>
	<center><%= f.submit :class => "custom-btnreg" %></center>
	<% end %>
	</center>
	<br><br><br>
</div>


<%= render template: 'template/footer' %>
<%= render template: 'manifests/categories/index' %>
<%= render 'search_units' %>
<%= render 'search_shapes' %>
<%= render 'search_packages' %>
