<%= stylesheet_link_tag "master.css" %>
<header>
    <%= render template: 'template/nav' %>
	<h1 class="title">廃棄物種類マスタ画面</h1>
</header>

<div class="container">
	<%= form_for Category.new do |f| %>

		<table class="place-table master-table">
			<thead>
				<tr>
					<th colspan="9" class="table-title">廃棄物種類マスタ</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>コード</th>
					<th>品目</th>
					<th></th>
				</tr>
				<% if @categories.blank? %>
					<tr>
						<td colspan="3"><center>NO DATA INPUT</center></td>
					</tr>
				<% else 
					@categories.each do |row| %>
					<tr>
						<td><%= row.code %></td>
						<td><%= row.name %></td>
						<td>
							<div class="btn-box cf">
								<ul class="cf">
									<li>
										<%# link_to '編集', 'javascript:void(0)', :class => 'modal-open choicebtn', data: {target: "con1", id: row.id, code: row.code, name: row.name} %>
										<a href="javascript:void(0)" onclick="window.open('<%= row.id %>/edit', 'height=10', 'top=auto', 'left=auto');" class="choicebtn">編集</a>
									</li>
									<li><%= link_to '削除', row, method: :delete, :class => 'sakuzyobtn', data: { confirm: 'Are you sure?' } %></li>
								</ul>
							</div>
						</td>
					</tr>
					<% end 
				end %>
			</tbody>
		</table>

		<table class="place-table disposal-table">
			<thead>
				<tr>
					<th class="table-title" colspan="5">新規追加</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>コード</th>
					<td><%= f.text_field :code, :required => 'required', class: 'inp-text sum-text' %></td>
					<th>品目</th>
					<td><%= f.text_field :name, :required => 'required', class: 'inp-text sum-text' %></td>
					<td class="reg-btn-box"><%= f.submit "登録", class: 'choicebtn' %></td>
				</tr>
			</tbody>
		</table>
		<div class="con-btn-box">
			<input type="submit" class="con-btn" value="確認する">
		</div>
	<% end %>
</div>
<%= render template: 'template/footer' %>

<!-- ポップアップ -->
<div class="modal-content con1">
    <div class="batu-btn-box">
    	<a class="modal-close"><%= image_tag('batu.png', :alt => 'ボタン', :class => 'batu-btn') %></a>
    
    </div>
   	<%# form_for]Category.new do |f| %>
   		<table class="place-table disposal-table">
			<thead>
				<tr>
					<th class="table-title" colspan="5">新規追加</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<%# f.hidden_field :id, id: 'categ_id' %>
					<th>コード</th>
					<td><%# f.text_field :code, :required => 'required', id: 'categ_code', class: 'inp-text sum-text'%></td>
					<th>品目</th>
					<td><%# f.text_field :name, :required => 'required', id: 'categ_name', class: 'inp-text sum-text'%></td>
					<td class="reg-btn-box"><%# f.submit "登録", class: 'choicebtn' %></td>
				</tr>
			</tbody>
		</table>
		<div class="con-btn-box">
	    	<input type="submit" class="con-btn" value="修正登録">
	    </div>
    <%# end %>
</div>


