<p id="notice"><%= notice %></p>

<p>
  <strong>Request history:</strong>
  <%= @request_history_detail.request_history_id %>
</p>

<p>
  <strong>Edi user:</strong>
  <%= @request_history_detail.edi_user_id %>
</p>

<p>
  <strong>Manifest:</strong>
  <%= @request_history_detail.manifest_id %>
</p>

<p>
  <strong>Fuctioction number:</strong>
  <%= @request_history_detail.fuctioction_number %>
</p>

<p>
  <strong>Request value:</strong>
  <%= @request_history_detail.request_value %>
</p>

<p>
  <strong>Result status:</strong>
  <%= @request_history_detail.result_status %>
</p>

<%= link_to 'Edit', edit_request_history_detail_path(@request_history_detail) %> |
<%= link_to 'Back', request_history_details_path %>
