<%= stylesheet_link_tag "places-master.css" %>
<header>
	<%= render template: 'template/nav' %>
	<h1 class="title">場所マスタ画面</h1>
</header>
<div class="container">
	<%= form_for Place.new do |f| %>
		<table class="place-table master-table">
			<thead>
				<tr>
					<th colspan="11" class="table-title">場所マスタ</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>コード</th>
					<th>名称(漢字)</th>
					<th>名称(カナ)</th>
					<th>略称</th>
					<th>郵便番号</th>
					<th>都道府県</th>
					<th>市区町村</th>
					<th>番地以下</th>
					<th>電話番号1</th>
					<th>電話番号2</th>
					<th></th>
				</tr>
				<% if @places.blank? %>
					<tr>
						<td colspan="11"><center>NO DATA INPUT</center></td>
					</tr>
				<% else
					@places.each do |row| %>
						<tr>
							<td><%= row.code %></td>
							<td><%= row.name_kanji %></td>
							<td><%= row.name_kana %></td>
							<td><%= row.abbreviation %></td>
							<td><%= row.zipcode %></td>
							<td><%= row.prefecture %></td>
							<td><%= row.city %></td>
							<td><%= row.address %></td>
							<td><%= row.tel1 %></td>
							<td><%= row.tel2 %></td>
							<td>
								<div class="btn-box cf">
									<ul class="cf">
										<li><%= link_to '編集', edit_place_path(row), :class => 'modal-open choicebtn', data: { target: 'con1', remote: 'true' } %></li>
										<li><%= link_to '削除', row, method: :delete, :class => 'sakuzyobtn', data: { confirm: 'Are you sure?' } %></li>
									</ul>
								</div>
							</td>
						</tr>
					<% end
				end %>
			</tbody>
		</table>

		<table class="place-table disposal-table">
			<thead>
				<tr>
					<th class="table-title" colspan="11">新規追加</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>コード</th>
					<td><%= f.text_field :code, :required => 'required', :class => 'inp-text sum-text'%></td>
					<th>名称(漢字)</th>
					<td><%= f.text_field :name_kanji, :required => 'required', :class => 'inp-text sum-text'%></td>
					<th>名称(カナ)</th>
					<td><%= f.text_field :name_kana, :required => 'required', :class => 'inp-text sum-text'%></td>
					<th>略称</th>
					<td><%= f.text_field :abbreviation, :required => 'required', :class => 'inp-text sum-text'%></td>
				</tr>
				<tr>
					<th>郵便番号</th>
					<td><%= f.text_field :zipcode, :required => 'required', :class => 'inp-text sum-text'%></td>
					<th>都道府県</th>
					<td><%= f.text_field :prefecture, :required => 'required', :class => 'inp-text sum-text'%></td>
					<th>市区町村</th>
					<td><%= f.text_field :city, :required => 'required', :class => 'inp-text sum-text'%></td>
					<th>番地以下</th>
					<td><%= f.text_field :address, :required => 'required', :class => 'inp-text sum-text'%></td>
				</tr>
				<tr>
					<th colspan="1">電話番号1</th>
					<td colspan="2"><%= f.text_field :tel1, :required => 'required', :class => 'inp-text sum-text'%></td>
					<th colspan="1">電話番号2</th>
					<td colspan="2"><%= f.text_field :tel2, :required => 'required', :class => 'inp-text sum-text'%></td>
					<td colspan="2" class="reg-btn-box"><%= f.submit "登録", :class => 'choicebtn' %></td>
				</tr>
			</tbody>
		</table>
		<div class="con-btn-box">
			<input type="submit" class="con-btn" value="修正登録">
		</div>
	<% end %>
</div>
<div id="modal"></div>
<%= render template: 'template/footer' %>
