<header>
  <h1 class="title">サインアップ</h1>
</header>

<div class="container">
  <%= form_for @user do |f| %>
  <%= devise_error_messages! %>
    <table>
  			<tr>
  				<th>EMAIL</th>
  				<td><%= f.email_field :email, autofocus: true %></td>
  			</tr>
  			<tr>
  				<th>PASS <% if @minimum_password_length %><em>(<%= @minimum_password_length %> characters minimum)</em<% end %></th>
  				<td><%= f.password_field :password, autocomplete: "off" %></td>
  			</tr>
  			<tr>
  				<th>RETYPE PASS</th>
  				<td><%= f.password_field :password_confirmation, autocomplete: "off" %></td>
  			</tr>
  			<tr>
  			  <td colspan="2"><center><%= render "users/shared/links" %></center></td>
  			</tr>
  		</table>
      <div class="actions">
        <%= f.submit "Sign up", :value => "サインアップ", :class => "con-btn" %>
      </div>
  <% end %>
</div>

<%= render template: 'template/footer' %>

